@model ZaolisShop.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/ZaolisShop/SignInUp")


<div class="container">
    <h3>Associate your @ViewBag.LoginProvider account.</h3>
    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
</div>

<br />

<div class="container d-flex justify-content-center">
    <div>
        <section id="loginForm">
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">Email</span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="group">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">First name</span>
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="group">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">Last name</span>
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="button_base b03_skewed_slide_in" style="background-size: 0%">
                    <div>REGISTER</div>
                    <div></div>
                    <div>REGISTER</div>
                </button>
            }
        </section>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
