@model IEnumerable<BLL.Models.ProductDTO>
@Styles.Render("~/Content/ZaolisShop/Table")

@{
    ViewBag.Title = "ProductList";
}

<div class="container-fluid">

    <p>
        <div>
            @Html.ActionLink("Create New Product", "CreateProduct", "CreateProduct", new { @class = "btn btn-info" })
        </div>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) | @Html.DisplayFor(modelItem => item.Price) EUR
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Add product", "CreateProductInfo", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Products", "ProductInfoList", "AdminPanel", new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </table>
</div>