@model ZaolisShop.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@Styles.Render("~/Content/ZaolisShop/SignInUp")

<div class="container d-flex justify-content-center">

    <div>
        <section id="loginForm">
            @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="login-header">CHANGE PASSWORD</h4>

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">Old Password</span>
                </div>

                <div class="group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">New Password</span>
                </div>

                <div class="group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inp", required = "required" })
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span class="sp">Confirm Password</span>
                </div>


                <button type="submit" class="button_base b03_skewed_slide_in" style="background-size: 0%">
                    <div>CONFIRM</div>
                    <div></div>
                    <div>CONFIRM</div>
                </button>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
