@model ZaolisShop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@Styles.Render("~/Content/ZaolisShop/AccountManage")

@using Microsoft.AspNet.Identity

<div class="container">
    <div class="account-manage">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="account-link">LOGOUT</a>
        }
        <br>
        @if (Model.HasPassword)
        {
            @Html.ActionLink("CHANGE PASSWORD", "ChangePassword", "ChangePassword", new { @class = "account-link" })
        }
        else
        {
            @Html.ActionLink("CREATE PASSWORD", "SetPassword", "SetPassword", new { @class = "account-link" })
        }
        <h2>MY ACCOUNT</h2>
        <p>Welcome back, @Model.FirstName</p>
    </div>
    <div class="orders">
        <p>MY ORDERS</p>
        <hr>
    </div>
</div>
